.super-mario {
  width: 200px;
  top: 100px;
  position:absolute
}

.goomba {
  width: 100px;
  position:absolute;
  left: 60px;
  top: 390px;
}

.baloon {
    top: 120px;
    position:absolute;
    left: 200px;
    z-index: 1;
}

.speach {
  font-size: 25px;
  position:absolute;
  z-index: 2;
  left: 230px;
  top: 160px;
}

.bowser {
  width: 200px;
  position:absolute;
  left: 400px;
  top: 300px;
  z-index: 3;
}